@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: rgb(56, 194, 248) !important;
  color: rgb(250, 101, 42) !important;
  min-height: 200vh;
}

/* Force no dark mode */
@media (prefers-color-scheme: dark) {
  html,
  body {
    background: lab(61% -3.82 -50.37) !important;
    color: rgb(248, 246, 245) !important;
  }
}
